<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>错误提示</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>

<!-- jquery -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    错误!
                </h4>
                <strong th:text="${msg}"></strong>
                <a id="urla" th:href="${url}" class="alert-link">3s后自动跳转</a>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    var url = $("#urla").attr("href");
    setTimeout('location.href="" + url + ""', 3000);
</script>

</html>